.redstroke{
  stroke:#F44336
}
.pinkstroke{
  stroke:#E91E63
}
.violetstroke{
  stroke:#9C27B0
}
.purplestroke{
  stroke:#673AB7
}
.darkbluestroke{
  stroke:#3F51B5
}
.bluestroke{
  stroke:#2196F3
}
.lightbluestroke{
  stroke:#03A9F4
}
.mediumturquoisestroke{
  stroke:#00BCD4
}
.darkgreenstroke{
  stroke:#009688
}
.greenstroke{
  stroke:#4CAF50
}
.lightgreenstroke{
  stroke:#8BC34A
}
.greenyellowstroke{
  stroke:#CDDC39
}
.lightyellowstroke{
  stroke:#FFEB3B
}
.yellowstroke{
  stroke:#FFC107
}
.orangestroke{
  stroke:#FF9800
}
.orangeredstroke{
  stroke:#FF5722
}
.brownstroke{
  stroke:#795548
}
.graystroke{
  stroke:#9E9E9E
}
.slategreystroke{
  stroke:#607D8B
}
