*,
*:before,
*:after{
    box-sizing:border-box;
}
html,body{
    margin:0;
    padding:0;
    height:100%;
}
h1, h2, h3, h4, h5{
    margin:0;
    color:#fff;
    font-weight: normal;
}
body{
    background-color:#263238;
    text-align:center;
}
section{
    margin-top: 10px;
}
svg{
    fill-rule:evenodd;
}
.transparentfill{
    fill: transparent;
}
.box{
    width: 200px;
    height: 100px;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
    transition: .2s all;
    background-color: #37474f;
}
.box:hover,
.box:focus{
    transform: scale(1.3);
}
.boxfill{
    height: 200px;
    padding: 10px;
}
.stroke {
    stroke:#000066;
    stroke-width:28;
    stroke-linecap:round;
    stroke-linejoin:round;
    animation: drawPath 2s alternate infinite;
    stroke-dasharray: 1900;
    fill:none;
}
.stroke2{
    animation: drawPath 5s alternate infinite;
    stroke-width:1;
}
.stroke3{
    animation: drawPath 10s alternate infinite;
    stroke-width:10;
}
.stroke4{
    animation: drawPath 1s alternate infinite;
    stroke-width:160;
}


@keyframes drawPath{
    from{
        stroke-dashoffset: 1900;
    }
    to{
        stroke-dashoffset: 0 ;
    }
}
